.form__submit-text {
    color: #fff;
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
}

@media (max-width: 767px) {
    .form__submit-text {
        font-size: 14px;
        line-height: 1.21;
    }
}